A very long text with very few matches: 


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum auctor lorem, in tristique urna semper eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam a eleifend massa, sed lobortis mi. Pellentesque a elit sodales, convallis nisl ac, varius urna. Integer hendrerit iaculis lacus, id mattis nunc elementum eget. Nulla mollis venenatis mi at facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec efficitur hendrerit finibus. In vel urna tincidunt, varius massa eget, molestie orci. Fusce eget leo mollis mi ultricies hendrerit.

Duis mattis consectetur elit, eu sodales eros faucibus posuere. Cras euismod venenatis congue. word3 Nulla tristique sapien ac viverra word9 viverra. Mauris aliquam, leo in pellentesque ultrices, est urna vehicula ipsum, posuere ultrices nisi sem quis dui. Nunc pretium nibh id erat dapibus gravida. Integer nec enim a mi tempor tempor. Donec dictum libero quis dictum tempus. Quisque rutrum, dui ut condimentum ullamcorper, metus quam dictum metus, vel imperdiet ante est vel arcu. Duis efficitur, odio et fermentum suscipit, mauris ante dictum purus, vestibulum rhoncus magna ex sit amet odio. Mauris maximus non neque ut vulputate. Etiam at sollicitudin tellus. Ut dictum imperdiet varius. Sed dapibus mollis blandit. Sed egestas, risus id aliquam tincidunt, leo lorem vestibulum dui, vel sodales magna lacus eget tortor.

Ut magna tortor, pulvinar sed lectus id, ultricies luctus augue. Nunc bibendum velit a ex molestie eleifend. Etiam sagittis rutrum justo ut convallis. Ut pretium ligula sed tincidunt consectetur. Suspendisse non quam maximus, vestibulum purus et, semper ante. Praesent ut dolor ipsum. Mauris quis justo nisl.

Nulla vitae sapien massa. Vivamus semper quam odio, at eleifend nibh dignissim sit amet. Maecenas a ornare felis. Nulla in massa non tellus elementum rhoncus. In libero ante, dictum ac viverra placerat, convallis nec mauris. Phasellus tempus ex in mauris egestas, non rutrum lorem mollis. Curabitur vulputate tellus nec pharetra porta. Sed justo erat, congue non dui ut, fermentum interdum nunc. Nullam tempor ante vitae efficitur dictum. Sed finibus elit id lobortis consectetur. Suspendisse potenti. Aenean auctor, dui vitae rutrum bibendum, velit lectus porttitor lacus, a consequat tortor massa vitae enim. Nunc posuere est id ultricies sodales. Pellentesque ut nunc et eros tempus volutpat non nec diam. Duis nec elementum purus. Suspendisse fringilla faucibus tortor sit amet tincidunt.

Nam et orci laoreet, posuere justo ac, rhoncus ante. Nulla dictum, diam eget faucibus feugiat, tortor velit feugiat neque, sagittis mattis diam magna sed quam. Mauris eleifend vulputate mauris, vel blandit leo. Fusce a vehicula nisi. Cras vestibulum fringilla ligula, vel ullamcorper neque mattis nec. Integer pulvinar dui non interdum porttitor. Cras eu pharetra urna.

Duis venenatis tempus turpis at rhoncus. Phasellus vel bibendum ante. Vestibulum justo leo, tincidunt quis tortor sed, maximus ultrices nulla. Aliquam semper quis tortor commodo rutrum. Curabitur eget laoreet metus. Nullam rhoncus tellus nulla, sit amet facilisis magna fermentum ac. Integer laoreet nunc luctus lacus feugiat scelerisque. Nullam viverra pharetra ligula sed dapibus. Quisque mollis sollicitudin enim, lobortis pretium sapien lacinia et. Fusce vitae tincidunt magna. Nulla felis dui, semper eget lacus ut, elementum tempor risus. Donec metus felis, ultricies ut risus vel, lacinia tincidunt sapien. Curabitur sed dui convallis magna malesuada euismod. Sed auctor interdum faucibus. Praesent sed velit sodales, gravida magna vel, malesuada risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Praesent sollicitudin tellus ornare, porta nisl at, ultrices elit. Mauris in tortor pharetra, viverra justo ut, sollicitudin felis. Phasellus ac facilisis purus, eu dignissim arcu. Quisque eu fringilla elit. Sed risus sapien, pretium vitae fermentum at, consectetur sed mauris. Nulla elementum condimentum hendrerit. Morbi vel eleifend mauris, in interdum justo. Morbi eleifend, augue a hendrerit porttitor, metus urna convallis diam, sed pretium erat libero et augue. Sed suscipit augue eu orci mattis pretium. In hac habitasse platea dictumst. Nullam imperdiet faucibus aliquet.

Nulla aliquam, turpis id efficitur fermentum, sem metus convallis dolor, non volutpat eros quam eget magna. Sed sed mi et ligula bibendum interdum at a urna. Fusce et aliquet nulla. Praesent et massa et erat facilisis tempus ornare et tortor. Phasellus tincidunt elit vitae justo tincidunt, sit amet mollis mauris accumsan. Nullam commodo nunc in finibus mollis. Aenean non tempus purus. In luctus vitae urna eu volutpat.

Nullam id volutpat lectus. Nulla at urna laoreet, pellentesque dui eget, euismod erat. match1 Curabitur iaculis viverra urna sed dignissim. Sed luctus eros nunc. Fusce eget eros fringilla, tincidunt mauris ut, pellentesque nibh. Aliquam porta sapien mattis volutpat sodales. Pellentesque tortor nunc, bibendum vel massa a, molestie porttitor arcu. Vivamus dapibus fringilla massa, eu consectetur ante porta eget. Ut varius dolor in neque imperdiet, at bibendum est tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

Sed scelerisque egestas nunc nec feugiat. Praesent vel tempus elit. Donec dignissim mauris eu maximus aliquet. Phasellus quis tortor ullamcorper, euismod ante nec, euismod elit. Duis quam erat, posuere eget congue ac, iaculis eget lorem. Praesent malesuada nulla eu suscipit bibendum. Sed risus libero, vulputate at purus ut, porttitor placerat enim.

Suspendisse vulputate, leo eu ullamcorper pulvinar, felis tortor finibus lectus, a maximus mi quam quis pattern2 odio. Sed ac scelerisque sapien. In iaculis nibh justo, eu tempor arcu lobortis vitae. Ut sed nisi dolor. Fusce fermentum ornare elit pulvinar egestas. Aenean lobortis purus semper consequat accumsan. Etiam ac bibendum sem. Sed ac elementum diam.

Vivamus porttitor ipsum eu orci sollicitudin dictum. Nulla magna metus, lobortis facilisis massa a, euismod consequat diam. Nullam dapibus lectus nunc, quis accumsan tortor vehicula ut. Aliquam eget massa ut neque bibendum facilisis non sit amet erat. Quisque ullamcorper enim non elit accumsan, sed placerat metus rutrum. Fusce sodales magna elementum nulla suscipit, sit amet volutpat erat sodales. In sit amet ligula eget nibh rutrum auctor. Sed tempor volutpat libero at laoreet. Phasellus molestie lorem et sem fermentum semper. Suspendisse ac dui eleifend risus consectetur tincidunt. Vivamus nibh libero, pharetra ut purus egestas, blandit vehicula nulla. Vestibulum vitae felis nisl. Aenean quis rutrum dolor. Ut molestie metus tincidunt nunc interdum, ac elementum lorem porttitor. Mauris quis elementum felis. Praesent. 